[Unit]
Description=BSR -- please disable. Unless you are NOT using a cluster manager.
Wants=network-online.target sshd.service
After=network-online.target sshd.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/lib/bsr/bsr start
ExecStop=/lib/bsr/bsr stop

# Re-adjust everything on reload
ExecReload=/lib/bsr/bsr reload

[Install]
WantedBy=multi-user.target

