/bsr-*.tar.gz
/.filelist

*.o

bsr/bsr.ko
bsr/bsr.ko.unsigned
bsr/.*.cmd
bsr/..compat_test.*.d
bsr/.compat_test.*.result
bsr/.compat_test.*.stderr
bsr/.compat_test.*.stdout
bsr/.config.timestamp
bsr/.kernel.config.gz
bsr/.bsr_kernelrelease
bsr/.bsr_kernelrelease.new
bsr/.bsr_git_revision
bsr/.tmp_versions
bsr/Module.symvers
bsr/compat.h
bsr/bsr.mod.c
bsr/bsr_linux_buildtag.c
bsr/modules.order
bsr/linux/bsr_config.h
bsr-platform/.*cmd