/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/bsr-*.tar.gz
/bsr.spec
/Makefile

documentation/Makefile

/.filelist

*.o

user/v9/config.h
user/v9/config.h.in
user/v9/bsradm
user/v9/bsrmeta
user/v9/bsrmeta_scanner.c
user/v9/bsrsetup